In [1]:
# Imports needed
import requests
import pymongo
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
#added this one and it worked for cells 2 to 7.
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set the executable path and initialize the chrome browser in splinter
# Had to edit the code below to "install" chromedrivermanager into jupyter notebook.
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\junark\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

## Visit the NASA mars news site

In [3]:
# this opens website
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Get the title
news_title=soup.find_all('div', class_='content_title')[1].text

# get the title paragraph
news_p=soup.find_all('div', class_='article_teaser_body')[0].text

print(f'Title: {news_title}')
print(f'Summary: {news_p}')

Title: Sensors Prepare to Collect Data as Perseverance Enters Mars' Atmosphere
Summary: Technology will collect critical data about the harsh entry environment during Perseverance’s entry next Thursday.

In [5]:
# Find the first a tag and save it as `news_title` - does not work
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

NameError: name 'slide_elem' is not defined

In [ ]:
# Find paragraph text - does not work
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

## JPL Space Images Featured Image

In [ ]:
# Visit URL
#I also changed the website because original link: https://www.jpl.nasa.gov/images?search=&category=Mars is not reachable.

url = 'https://mars.nasa.gov/multimedia/images/?page=0&per_page=25&order=pub_date+desc&search=MSR&condition_1=1%3Ais_in_resource_list&category=51'
browser.visit(url)

# #conver to soup object, browser can be closed
# html = browser.html
# news_soup = soup(html, 'html.parser')

# slide_elem = news_soup.select_one('ul.item_list li.slide')

# ----

#url = 'https://www.jpl.nasa.gov/missions?mission_target=Mars'
#browser.visit(url)

#conver to soup object, browser can be closed
#html = browser.html
#news_soup = soup(html, 'html.parser')

#slide_elem = news_soup.select_one('ul.item_list li.slide')

In [ ]:
# Find and click the full image button -- DOES NOT WORK, sorry. I will stop here.
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [6]:
### Mars Facts
# opens website
url = 'https://space-facts.com/mars/'
browser.visit(url)

#read html url
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [7]:
#Create a Dataframe
df=tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [8]:
#Rename the key values
df.columns=["Description", "Mars Values"]
df

            Description                    Mars Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [9]:
index_df=df.set_index('Description')
index_df

                                        Mars Values
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [10]:
#Create dataframe to html table
html_table = index_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars Values</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [11]:
#Clean up the html table
html_tb=html_table.replace('\n', '')
html_tb

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars Values</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [12]:
### Mars Hemispheres

In [13]:
# Open website
url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

# Create BeautifulSoup object
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [14]:
# Retrieve the parent div for all components
articles = soup.find_all('div', class_='description')

#Main url
nasa_url='https://astrogeology.usgs.gov/'

#Create a list to append the title and image
title_and_url=[]

# Iterate through each product
for article in articles:
    # Use Beautiful Soup's find() method to navigate and retrieve attributes
    link = article.find('a')
    href = link['href']
    title = link.find('h3').text
    browser.visit(nasa_url+href)
    
    # Create BeautifulSoup object; parse with 'html.parser'
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    #Scrape to find the image url
    down=soup.find('div', class_='downloads')
    image_url=down.find('a')['href']
    
    #Append the results to the list
    title_and_url.append({"title":title, "img_url":image_url})
    
    #Print the results
    print('-----------')
    print(title)
    print(image_url)

In [15]:
#Show dictionary
title_and_url

[]

In [ ]:
browser.quit()